<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
<!--float-->
<div class="mainbody">
    <div class="header">float实现布局</div>
    <div class="content conFir">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </div>
    <div class="footer"></div>
</div>
<!--position-->
<div class="mainbody">
    <div class="header">position实现布局</div>
    <div class="content conSec">
        <div class="left"></div>
        <div class="right"></div>
        <div class="center"></div>
    </div>
    <div class="footer"></div>
</div>
<!--flex-->
<div class="mainbody">
    <div class="header">flex实现布局</div>
    <div class="content conFlex">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </div>
    <div class="footer"></div>
</div>
<!--table+table-cell-->
<div class="mainbody">
    <div class="header">table+table-cell实现布局</div>
    <div class="content conTable">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </div>
    <div class="footer"></div>
</div>
<!--table+table-cell-->
<div class="mainbody">
    <div class="header">grid实现布局</div>
    <div class="content conGrid">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </div>
    <div class="footer"></div>
</div>
</body>
</html>