body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 3.6rem!important;
    height: 2.75rem!important;
    opacity: .8;
}
/*.head{padding:0 30px;}*/
.swiper-slide img{width:100%; /*box-shadow: 0 0.07rem 0.08rem #b3b3b3;*/}
.swiper-slide-active{
	opacity:1;
}
