.index-list {
    height: 116px;
    background: #ecedf0;
}

.index-list-ul li {
    float: left;
    width: 24.2%;
    height: 104px;
    margin-right: 1%;
    background: #fff;
}

.index-list-ul li:last-child {
    margin-right: 0;
}

.list-li-left {
    float: left;
    /*width: 120px;*/
    width: 30%;
    height: 104px;
    background: #ffb848;
    color: #fff;
    text-align: center;
}

.list-li-left img {
    text-align: center;
    padding-top: 11px;
}

.list-li-base {
    background: #852b99;

}

.list-li-peace {
    background: #28b779;

}

.list-li-base {
    background: #852b99;

}

.list-li-left span {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;

}

.list-li-right {
    float: left;
    height: 104px;
    width: 70%;
    text-align: center;
    font-size: 14px;
    color: #b8bdcb;
}

.list-li-right .price {
    line-height: 104px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.list-li-right span {
    display: block;
}

.list-li-right .li-right-price {
    font-weight: bold;
    font-size: 24px;
    padding-top: 18px;
    padding-bottom: 4px;
    color: #000;
}

.list-li-right em {
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}

.Imanage {
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    color: #a5a5a5;
}

.Imanage-h3 {
    height: 46px;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}

.Imanage-h3 h3 {
    float: left;
    line-height: 46px;
}

.Imanage-h3 .Imanage-h3-txt {
    float: right;
    line-height: 46px;
    padding-right: 26px;
}

.operate {
    float: right;
    padding-right: 20px;
    line-height: 46px;
}

input[type="button"].derive {
    float: right !important;
    min-width: 100px;
    margin: 8px 20px 0 20px;
}

.Imanage-button {
    clear: both;
    float: left;
    width: 100%;
    height: 50px;
}

.Imanage-button-left {
    width: 50%;
    float: left;
}

.Imanage-button-lw {
    width: 63%;
}

.Imanage-button-leftw {
    width: 55%;
}

.Imanage-button-right {
    float: right;
    padding-right: 15px;
}

.Imanage-bor-top {
    border-top: 1px solid #ccc;
}

.Imanage-bor-bot {
    border-bottom: 1px solid #ccc;
}

.Imanage-button a {
    min-width: 60px;
    margin: 10px 0 0 20px;
    text-align: center;
}

.Imanage-button input {
    margin: 10px 0 0 20px;
}

.Imanage-new {
    float: left;
    min-width: 100px;
    padding: 4px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #b1b1b1;
    background: #fff;

}

.Imanage-select input {
    margin: 6px 10px 0 0;
}

.tab-sec {
    clear: both;
    border-top: 3px solid #e9ebf3;
}

.Imanage-style {
    clear: both;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}

.Imanage-button-add {
    padding: 10px;
    background: none;
    border: 1px solid #ccc;
    color: #999999;
    border-radius: 5px;
}

.Imanage-button-active {
    background: #ff564a;
    color: #fff;
    border: none;
}

.Imanage-button-add-active {
    color: #fff;
    background: #4bdf6e;
    border: none;
}

.tab-sec, .Ttab-sec {
    display: none;
}

.Imanage-style-title {
    float: left;
    min-width: 110px;
    padding-left: 20px;
    color: #000;
}

input[type="button"].educe {
    float: right !important;
}

.Imanage-style-input {
    float: left;
    width: 76%;
    height: 30px;
    margin-top: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.Imanage-style-chose {
    float: left;
}

.precharge-div {
    width: 30%;
}

.precharge {
    width: 90%;
    border-radius: 5px;
    margin-right: 10px;
}

.Imanage-style-chose .Imanage-label {
    padding-right: 15px;
}

.Imanage-label-pic {
    vertical-align: -9px;
    padding-right: 10px;
}

.Imanage-label-a {
    text-decoration: underline;
    color: #00c6ff;
}

.tab-fir {
    clear: both;
}

.Ttab-fir {
    border-top: 1px solid #ccc;
}

.scrollView {
    max-width: 100% !important;
    overflow-y: auto !important;
    clear: both;
}

.scrollView table {
    width: 100%;
    text-align: left;
    white-space: nowrap !important;
    border-top: 1px solid #ccc;
}

.scrollView table tr {
    border-bottom: 1px solid #ccc;
    height: 50px;
}

.scrollView table thead th {
    text-align: left;
}

.scrollView table tr th:first-child {
    padding-left: 40px;
}

.scrollView table tr td:first-child {
    padding-left: 40px;
}

.scrollView .scrollTable-base-line {
    border: none;
}

.scrollView .scrollTable-base-line tbody {
    border: none;
}

.scrollView .scrollTable-base-line tr {
    border-bottom: none;
    border-top: 1px dashed #ccc;
    height: 60px;
}

.scrollView .scrollTable-base-line tr:first-child {
    border: none;
}

input.Imanage-record {
    background: none;
}

tbody {
    clear: both;
    border-top: 2px solid #ccc;
}

.scrollView .scrollTable-base {
    border-top: none;
    border-bottom: 1px solid #ccc;
}

.scrollView .scrollTable-base th {
    color: #797979;
}

.scrollView .scrollTable-base tr {
    border: none;
}

.scrollView .scrollTable-base tr:nth-child(odd) {
    background: none;
}

.scrollView .scrollTable-base tr td:first-child {
    width: 10%;
}

.scrollView .scrollTable-base tr .scrollTable-base-addr {
    width: 97%;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.scrollView .scrollTable-base-if tr td:nth-child(2) {
    width: 86%;
}

.scrollView .scrollTable-base-parsent tr td:nth-child(2) {
    width: 80%;
}

.Ttab-sec {
    clear: both;
    border-top: 3px solid #e9ebf3;
}

.Imanage-addr {
    width: 88%;
}

.Imanage-arg {
    width: 50%;
}

/*表格图标*/
.manipulate i {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    background: url("../images/list/handle.png") no-repeat left 2px;
}

.handle {
    /*text-align: center;*/
    height: 23px;
}

.handle-auto {
    height: auto;
}

.handle a {
    display: inline-block;
    margin-right: 2px;
}

.edit {
    display: block;
    width: 22px;
    height: 23px;
    background: url("../images/list/list.png") no-repeat left 0;
}

.delete {
    display: block;
    width: 22px;
    height: 23px;
    background: url(../images/list/list.png) no-repeat left -22px;
}

.update {
    display: block;
    width: 22px;
    height: 23px;
    background: url("../images/list/list.png") no-repeat left -45px;
}

.hui {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/list/list.png") no-repeat -36px -75px;
}

.Bcard {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/list/list.png") no-repeat -36px -38px;
}

.Gcard {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/list/list.png") no-repeat -36px -56px;
}

.Bwash {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/list/list.png") no-repeat -36px 0;
}

.Gwash {
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/list/list.png") no-repeat -36px -19px;
}

.raddr {
    display: block;
    width: 18px;
    height: 27px;
    background: url(../images/list/list.png) no-repeat -55px 0px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.gaddr {
    display: block;
    width: 18px;
    height: 27px;
    background: url(../images/list/list.png) no-repeat -55px -27px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

input[type="text"].search {
    width: 80%;
    background: url("../images/list/search.png") no-repeat 4px 3px;
    text-indent: 20px;
}

.date-hr {
    float: left;
    margin-top: 16px;
    margin-left: 5px;
}

.date-bg input {
    float: left;
    text-align: left;
    height: 30px;
    width: 126px;
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 8px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #b1b1b1;
    background: #eeeeee;
}

.date-bg {
    float: left;
    position: relative;
}

.date-icon {
    position: absolute;
    right: 0;
    top: 10px;
    height: 30px;
    width: 30px;
    background: #ff6c60;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.date-icon i {
    display: block;
    height: 30px;
    width: 30px;
    background: url("../images/list/date.png") no-repeat;

}

.index-bg {
    width: 100%;
    background: #e8e8e8;
}

.look-bg {
    height: 460px;
}

.looks-bg {
    height: 450px;
    width: 98%;
    margin: 0 auto;
}

.car-bg {
    height: 178px;
}

.car-bg img {
    width: 100%;
}

.index-bg .index-bg-div {
    float: left;
    width: 49.4%;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.index-bg .index-bg-right {
    float: right;
    margin-left: 1%;
}

.looks-bg-title {
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.Imanage-select-fr {
    float: right;
    margin-right: 2%;
}

.Imanage-style-select {
    min-width: 100px;
    width: 14%;
    margin-top: 10px;
    height: 30px;
}

.Imanage-select-all {
    margin-left: 10px;
}

.Imanage-select select {
    background: url(../images/header/push.png) no-repeat 98% 10px;
}

.looks-bg-title h3 {
    font-weight: bold;
    line-height: 50px;
    font-size: 20px;
    color: #505050;
}

.looks-bg-box {
    width: 90%;
    margin: 0 auto;

}

.month-p {
    padding: 40px 0 60px 0;
    color: #585858;
}

.send {
    padding-left: 20px;
}

.month-price {
    clear: both;
    padding: 10px 0 10px 0;
    color: #585858;
}

.axis {
    height: 184px;
}

.axis ul {
    float: left;
    width: 20%;

}

.axis ul li {
    clear: both;
    font-size: 18px;
    text-align: right;
}

.axis ul li:first-child {
    color: #000;
    font-weight: bold;
    margin: 0 0 24% 0;
}

.axis ul li.active {
    color: #f54336;
}

.axis ul li:last-child {
    margin: 24% 0 0 0;
}

.status span {
    position: relative;
    z-index: 999;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #ababab;
}

.status a {
    z-index: 1;
    display: block;
    height: 14px;
    width: 100%;
    margin-left: -1%;
    margin-top: 30px;
    background: #d6d6d6;
    position: relative;
}

.status a i {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    background-color: #f70007;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.status-active .circle {
    display: block;
    height: 26px;
    width: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    background: #f70007;
    margin-left: 2px;
    margin-top: 2px;
}

.axis-start .status span {
    margin-top: -8px;
}

@media screen and (max-width: 1300px) {
    .axis-start .status .Smedia {
        margin-top: -2px;
    }
}

.axis .axis-start li:last-child {
    margin-top: 62%;
}

.status-active span {
    border: 1px solid #f70007;
}

.status-active .march {
    background: url("../images/list/march.png") no-repeat;
}

.search-width {
    width: 35%;
}

.search-div {
    line-height: 50px;
}

.search-title {
    float: left;
}

.month-limit {
    width: 8%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

input[type="text"].month-limits {
    width: 68%;
    border-left: 0;
    padding: 14px 0 14px 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.checkbox-top {
    margin-top: 10px;
}

.checkbox-top span {
    display: block;
    float: right;
    margin-left: 6px;
    margin-top: 5px;
}

.Toil-map {
    clear: both;
    height: 476px;
    width: 98%;
    padding-bottom: 8px;
    margin: 0 auto;
    overflow: hidden;
}

.Toil-map .Toil-map-pic {
    float: left;
    width: 56%;
    height: 100%;
    /*background: url("../images/list/map.png") no-repeat;*/
    /*background-size: 100%;*/
}
#container {width:100%; height: 100%; }


/*.Toil-map .Toil-map-pic img{*/
/*width:100%;*/
/*height:100%;*/
/*background-size: 100%;*/
/*}*/

.Toil-map .Toil-map-addr {
    float: right;
    width: 40%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.Toil-map-ul {
    width: 98%;
    margin: 0 auto;
}

.Toil-map-ul > li {
    clear: both;
    float: left;
    border-bottom: 1px solid #ccc;
    padding: 13px 0;
}

.Toil-map-ul li {
    font-size: 14px;
    width: 100%;
    line-height: 17px;
}

.Toil-map-ul li ul {
    float: left;
}

.Toil-map-ul li ul p {
    font-size: 12px;
}

.Toil-map-ul ul:first-child {
    margin-top: 10px;
    width: 6%;
}

.Toil-map-ul ul:nth-child(2) {
    width: 54%;
}

.Toil-map-ul ul:nth-child(2) li {
    display: block;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Toil-map-ul ul:nth-child(2) li {
    padding-top: 3px;
    color: #666666;
}

.Toil-map-ul ul:nth-child(2) li:first-child {
    color: #3385ff;
}

.Toil-map-ul ul:nth-child(3) {
    width: 20%;
}

.Toil-map-ul ul:nth-child(3) li span {
    float: right;
    padding-right: 20px;
    font-size: 12px;
}

.Toil-map-ul ul:last-child {
    width: 20%;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    height: 62px;
}

.Toil-map-ul ul:last-child li {
    width: 60px;
    margin: 10px auto 0;
}

.Toil-box {
    height: 241px;
    background: #ecedf0;
    overflow: hidden;
}

.Aoil {
    float: left;
    width: 100%;
    height: 226px;
    margin-top: 15px;
    background: #fff;
    border-radius: 5px;
}

.recharge-btn a {
    cursor: pointer;
    height: 38px;
    width: 88px;
    margin-top: 5px;
    line-height: 38px;
    text-align: center;
    padding: 0;
    color: #333;
    border-radius: 0;
    font-size: 14px;
}

.recharge-btn a:last-child {
    border-left: 0;
}

.recharge-btn a:first-child {
    border-right: 0;
}

.recharge-btn a.Imanage-button-active {
    background: none;
    border: 1px solid #ff564a;
    color: #ff564a;
}

.recharge-acc {
    float: left;
    width: 80%;
    padding-left: 110px;
}

.radio-mg {
    padding-left: 20px;
}

.list-unstyled {
    clear: both;
    float: left;
    padding-bottom: 14px;
}

.list-unstyled li {
    float: left;
}

.list-unstyled li label {
    padding-left: 20px;
}

.Imanage-new-recharge {
    width: 190px;
    height: 42px;
    font-weight: bold;
}

.Ttab-sec-none {
    border: none;
}

.Bpa {
    float: left;
    padding-left: 20px;
}

.recharge-tip {
    float: left;
    clear: both;
    padding: 0 0 30px 20px;
}

.recharge-tip h6 {
    padding: 20px 0 10px 0;
    color: #565a5c;
    font-size: 15px;
}

.recharge-tip p {
    font-size: 15px;
    line-height: normal;
    color: #a0a0a0;
}

.Oaccount, .Oaccount .Imanage-style-title {
    color: #565a5c;
    font-size: 15px;
}

.mail-table table tr td:first-child, .mail-table table tr td:nth-child(2) {
    width: 10%;
}

.mail-table table tr td:nth-child(3) {
    width: 70%;
}

.mainbody {
    float: left;
    width: 100%;
    height: 100%;
    background: #474747;
}

.Imanage-base {
    clear: both;
    float: none;
    width: 760px;
    height: 630px;
    margin: 100px auto 0;
    background: #fff;
    color: #a5a5a5;
}

.Imessage-box {
    width: 710px;
    border-left: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
    margin: 10px auto 8px;

}

.Imessage .tit {
    width: 100%;
    height: 50px;
    padding-top: 10px;
}

.Imessage .tit_f {
    border-bottom: double 3px #ff746c;
    text-align: center;
    width: 340px;
    margin: 0 auto;
    font-size: 16px;
}

.Imessage .tit .checking {
    float: left;
    height: 26px;
    line-height: 26px;
    color: #8094f4;
    font-size: 12px;
}

.Imessage .tit .checking span {
    color: #8094f4;
    font-size: 12px;
    padding-left: 4px;
}

.Imessage .tit .Adate {
    float: right;
    color: #ff746c;
}

.Imessage {
    width: 662px;
    font-size: 12px;
    color: #ff746c;
    background: #fff;
    margin: 0 auto;
}

.Imessage-content table {
    width: 662px;
    border-collapse: inherit;
    border: 1px solid #ff746c;
    border-bottom: 0;
    border-left: 0;
}

.Imessage-content table td {
    border: 1px solid #ff746c;
    border-top: 0;
    font-size: 12px;
}

.Imessage-content table .unit_name {
    width: 20px;
    text-align: center;
}

.Imessage-content table .sletter {
    display: block;
    float: right;
    padding-right: 90px;
    font-size: 12px;
}

.Imessage-content table .Imessage-content-name {
    border: none;
}

.Imessage-content table .Imessage-content-none {
    border-bottom: none;
}

.Imessage-content table .Imessage-content-bt {
    border-right: none;
    border-left: none;
}

.Imessage-content table .Imessage-content-bn {
    border-bottom: none;
    border-left: none;
}

.Imessage-content table .Imessage-content-top {
    border-top: 1px solid #ff746c;;
}

.Imessage-content table .Imessage-content-bor {
    border-bottom: 1px solid #ff746c;
}

.Imessage-content table .Imessage-content-bl {
    border-left: 1px solid #ff746c;
}

.Imessage-content table span {
    font-size: 12px;;
    color: #8094f4;
}

.Imessage-detail {
    height: 30px;
}

.Imessage-detail p {
    display: block;
    float: left;
    width: 24%;
    font-size: 12px;
    line-height: 26px;
}

.Imessage-content table tr .table-wi {
    width: 36px;
}

.Imessage-content table tr .table-w {
    width: 56px;
}

.Imessage-content table tr .table-wid {
    width: 74px;
}

.Imessage-content table tr .table-widt {
    width: 138px;
}

.Imessage-content table .Detail {
    text-align: center;
    height: 36px;
}

.Imessage-content table .table-message {
    width: 502px;
}

.table-message-name {
    width: 166px;
}

.Imessage-content .table-paw {
    width: 110px;
    padding: 0 10px 0 4px;
}

.Imessage-content table .table-message i {
    display: inline-block;
    width: 90px;
    padding-left: 4px;
    text-align: justify;
}

.Imanage .Saddr {
    clear: both;
    float: left;
    font-size: 15px;
    line-height: 30px;
    padding-left: 20px;
    color: #000;
}

.Imanage .Smessage {
    clear: both;
    height: 74px;
    background: #f0f0f0;
    border: 1px solid #bbb;
}

.Imanage .Smessage p {
    font-size: 12px;
    color: #a0a0a0;
    height: 24px;
    padding-left: 20px;
}

.Sbtn {
    width: 100%;
    text-align: center;
    line-height: 64px;
}

.Sbtn-save {
    height: 30px;
    width: 236px;
    background: none;
    border: none;
    background: #ff746c;
    color: #fff;
    border-radius: 5px;
}

.Sbtn-cancel {
    background: #fff;
    color: #ff746c;
    border: 1px solid #ff746c;
}
