.container{
    height:100%;
    width:100%;
    background-image: url(../images/login/design-bg.png);
    background-repeat: no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    min-width:900px;
    overflow-x: auto;
    font-size: 12px;
    min-height:636px;
}
.header {
    clear: both;
    float: left;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    background: #fff;
}
.header .login{
    padding-top:7px;
    padding-left:24px;
}
.content{
    clear:both;
    float: left;
    width:100%;
    height:88%;
    position: relative;
}
.design {
    z-index: 999;
    width:356px;
    height:350px;
    border-radius: 6px;
    background: url(../images/login/design_bg.png) no-repeat;
    margin:8% auto 0 auto;
}
.design form {
    text-align: center;
    width:320px;
    height:260px;
    margin:0 auto;
}
.design form h2 {
    line-height:86px;
    font-size:18px;
    font-family:"Microsoft YaHei";
    font-weight: normal;
    color: #009688;
}
.design form ul{
    clear: both;
    width:100%;
}
.design form li{
    float: left;
    width:100%;
}
.design form li .import {
    width: 86%;
    height: 50px;
    line-height: 50px;
    border: none;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    color:#686868;
    outline:none;

}
.design form .remeber{
    line-height: 74px;
}

/*改变input里面placeholeder的颜色*/
.import:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#686868;
}

.import::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#686868;
}

.import:-ms-input-placeholder {
    color:#686868;
}

.import::-webkit-input-placeholder{
    color:#686868;
}

/*input复选框的样式*/
.design form .remeber input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    float: left;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    border-radius: 4px;
}

input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    border: 1px solid #d9d9d9;
    outline: none;
}

input[type=checkbox]:checked {
    border-color: #32c2ba;
}

input[type=checkbox]:checked:after {
    content: url(../images/login/dui.png);
    width: 14px;
    height: 14px;
    line-height: normal;
    position: absolute;
    left: 0;
    top: 0;
}

.design form .remeber label{
    float: left;
    line-height:66px;
    padding: 0 0 0 34px;
}

.design form .remeber span {
    margin-left: 5px;
    color: #686868;
}
.design form .remeber .register{
    float: right;

}
.design form .remeber .register input{
    width:100px;
    height:30px;
    margin-top: 16px;
    background: none;
    border:none;
    color:#32c2ba;
    outline:none;
    cursor: pointer;
}

.design form  .message {
    width: 100%;
    height: 16px;
    color: #fff;
    padding: 14px 0 10px 0;
    z-index: 999;
    overflow: hidden;
}
.design form .relax{
    padding-left:10px;
    padding-top:10px;
}
.footer{
    clear: both;
    width:100%;
    position:absolute;
    bottom:10px;
    text-align: center;
}

.icon img{
    background-size:100%;
    margin:0 4% 0 4%;
}

