html, body, div, p, a, ul, li, span, p, input, h3, h5, h4, h6, dd, dt, dl, table, tr, td, th {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

img {
    border: none;
    width: auto;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    color: transparent;
    font-size: 0;
}

i {
    font-style: normal;
}

select {
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #e8e8e8;
}

/*顶部*/
.modal-header {
    width: 100%;
    background: #fff;
    height: 34px;
    border-bottom: 1px solid #cdcaca;
    position: fixed;
    min-width: 600px;
}

.modal-header .modal-inner {
    background: none;
    box-shadow: none;
    padding: 0;
}

.header-left {
    float: left;
    width: 40%;
}

.logo-pic {
    padding-left: 32px;
}

.header-right {
    float: right;
    width: 282px;
    margin-top: -6px;
}

.mail {
    position: relative;
    width: 50px;
    margin-top: 6px;
}

.mail-pic {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.mail-num {
    position: absolute;
    right: 2px;
    top: -5px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background: #ff564a;
    color: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    text-align: center;
}

.account {
    float: right;
}

.account .ri-nav {
    position: relative;
    z-index: 999;
    padding: 0 12px 6px 8px;
    margin-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
}

.account .ri-nav li {
    margin-top: 6px;
}

.nav li {
    float: left;
    margin-top: -8px;
}

.nav .dropdown-toggle .caret {
    margin-top: 12px;
    border-top-color: #999fb1;
    border-bottom-color: #999fb1;
}

.dropdown-menu {
    position: absolute;
    top: 146%;
    left: -9px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 176px;
    padding: 0;
    list-style: none;
    background-color: #eeeeee;
    border: 1px solid #9c9a9a;
    border: 1px solid #9c9a9a;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

li > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #eeeeee;
    border-left: 6px solid transparent;
    content: '';
}

li > .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: #9c9a9a;
    content: '';
}

.dropdown-menu > li > a {
    line-height: normal;
}

.account .ri-nav .push {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 6px;
    top: 20px;
    background: url(../images/header/push.png) no-repeat;
}

.account .ri-nav .nav-con-list {
    display: none;

}

.account .ri-nav .work {
    font-size: 16px;
}

.account .ri-nav .nav-menu img {
    border: 1px solid #ccc;
    margin-right: 6px;
}

.account .ri-nav .nav-menu .secede {
    border: none;
}

/*主体*/
.content {
    clear: both;
    float: left;
    width: 100%;
    height: 100%;
}

.content-left {
    width: 220px;
}

/*左侧树形结构*/
.treebox {
    position: fixed;
    left: 10px;
    top: 70px;
    width: 200px;
    height: 86.6%;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*第一层*/
.menu li.level1 > a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding-left: 50px;
    font-size: 16px;
    position: relative;
}
a.current {
    color: red; 
}
a.current .ico .two{
    display: none;
} 

.menu li.level1 a.red {
    color: red;
}
/*============修饰图标*/
.ico img {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 20px;
    top: 13px;
}
/*============小箭头*/
.level1 i {
    width: 20px;
    height: 10px;
    background-image: url(../images/menu/menu.png);
    background-repeat: no-repeat;
    background-position: 0 -26px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.level1 .current i{
    background-position: 0 -6px;
}
.level1 .icc i{
    background-position: 0 -6px;
}


/*第二层*/
.menu li ul {overflow: hidden;}
.menu li ul.level2 {display: none;}
.menu li ul.level2 li a {
    display: block;
    height: 45px;
    line-height: 45px;
    text-indent: 60px;
    font-size: 14px;
}
.menu li ul.level2 li a.red{color: #ff3333;}
.active {color: #ff665c;}

/*右侧iframe*/
.txtrig {
    margin-left: 220px;
    margin-top: 70px;
    height: 86.6%;
    margin-right: 10px;
    border-radius: 5px;
}

/*底部footer*/
footer {
    /*position: fixed;*/
    /*bottom: 0;*/
    clear: both;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    line-height: 45px;
    background: #fff;
    text-align: center;
}

/*!*滚动条*!*/
::-webkit-scrollbar {
    width: 8px;
    height: 14px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.07)), color-stop(100%, rgba(229, 229, 229, 0.07)));
    background: -webkit-linear-gradient(left, rgba(202, 202, 202, 0.07) 0%, rgba(229, 229, 229, 0.07) 100%);
    background-color: rgba(229, 229, 229, .3);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset, 0 1px 0 0 #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset, 0 1px 0 0 #fff;
    overflow: visible;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 14px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.07)), color-stop(100%, rgba(229, 229, 229, 0.07)));
    background: -webkit-linear-gradient(left, rgba(202, 202, 202, 0.07) 0%, rgba(229, 229, 229, 0.07) 100%);
    background-color: rgba(229, 229, 229, .3);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset, 0 1px 0 0 #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset, 0 1px 0 0 #fff;
    overflow: visible;
    border-radius: 4px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(233, 233, 233, 0.05)), color-stop(100%, rgba(221, 221, 221, 0.05)));
    background: -webkit-linear-gradient(left, rgba(233, 233, 233, 0.05) 0%, rgba(221, 221, 221, 0.05) 100%);
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 0 #FFF;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 0 #FFF;
    background-color: rgba(158, 148, 150, .5);
    overflow: visible;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(229, 229, 229, .4);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(229, 229, 229, 1);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset;
}



