body {
    text-align: center;
    background: #ffffff;
    font-size: 12px
}

ul, ol, li {
    padding: 0;
    margin: 0;
}

div {
    text-align: left;
    overflow: hidden
}

img {
    border: 0;
    vertical-align: top;
}

.picShow {
    width: 958px;
    height: 560px;
    margin: 0 auto;
    padding-top: 20px;
    border: #d9e0ea 1px solid;
}

#picArea {
    width: 958px;
    height: 620px;
    margin: 0 auto;
    background: #fff;
}

.picAreaBox {
    margin: 0 auto;
    width: 774px;
    height: 436px;
    overflow: hidden;
}

#bigpicarea {
    position: relative;
    margin: 0 auto;
    width: 774px;
    height: 436px;
    overflow: hidden;
}

.image {
    text-align: center
}

.image img {
    border: #ececec 1px solid;
    margin: 0 auto;
}

#bigpicarea .word {
    text-align: center;
    height: 50px;
    color: #333
}

#bigpicarea .word H3 {
    text-align: center;
    line-height: 48px;
    height: 48px;
    color: #333;
    font-size: 14px
}

#bigpicarea .ui-els-hide {
    display: none
}

#thumbs {
    list-style-type: none;
    margin: 0 auto;
    width: 830px;
    height: 110px
}

* html #thumbs {
    height: 100%
}

#thumbs li {
    margin: 0 7px;
    width: 90px;
    display: inline;
    float: left;
    height: 60px
}

#thumbs ul {
    margin-top: 3px
}

#thumbs li.last_img {
    margin-right: 4px
}

#thumbs li.first {
    margin: 25px 10px 0 15px;
    width: 9px;
    height: 16px;
    cursor: pointer
}

#thumbs li.last {
    margin: 25px 10px 0 15px;
    width: 9px;
    height: 16px;
    cursor: pointer
}

#thumbs li a {
    border: #fff 2px solid;
    width: 90px;
    display: block;
    font-size: 0;
}

#thumbs li a:hover {
    border: #000 2px solid;
}

#thumbs li a.current {
    border: #f8ae0f 2px solid;
}

.bigbtnPrev {
    z-index: 100;
    position: absolute;
    width: 35px;
    height: 51px;
    top: 186px;
    cursor: pointer;
    left: 30px
}

.bigbtnNext {
    z-index: 100;
    position: absolute;
    width: 35px;
    height: 51px;
    top: 186px;
    cursor: pointer;
    right: 30px
}

#big_play_prev {
    background-image: url(../images/leftbig.png);
    width: 35px;
    display: block;
    height: 51px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='../images/leftbig.png')
}

#big_play_next {
    background-image: url(../images/rightbig.png);
    width: 35px;
    display: block;
    height: 51px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop, src='../images/rightbig.png')
}

#smallpicarea {
    margin: 0 auto;
    width: 958px;
    border-top: #ececec 1px solid;
    padding-top: 20px
}
