.payTitle {
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-size: .7rem;
    padding: 30% 0 2%;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.eye {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 10%;
    bottom: 4.5%;
    background: url("../images/pay/eye.png") no-repeat 100% 100%;
    -webkit-tap-highlight-color: transparent;
}

.code-section {
    padding: 0 15px 10px;
    margin-top: 10px;
}

.am-section {
    padding: 0 15px 10px;
    overflow: auto;
    position: relative;
}

.am-password-handy {
    overflow: hidden;
    position: relative;
    margin: 0 0 20px;
    width: 100%;
    padding-bottom: 1px;
}

.am-password-handy .am-password-handy-security, .am-password-handy input[type=password], .am-password-handy input[type=tel] {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 44px;
    overflow: hidden;
    padding: 0 !important;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-clip: padding-box;
    font-family: Courier, monospace;
    font-size: 24px;
    line-height: 32px;
}

.am-password-handy input[type=password], .am-password-handy input[type=tel] {
    position: absolute;
    opacity: .01;
    border: 0 none !important;
    left: 0;
    -webkit-appearance: none;
    -ms-box-sizing: content-box !important;
    box-sizing: content-box !important;
    outline: none;
}

.am-password-handy input#password:focus {
    position: absolute;
    opacity: 0.01;
    padding: 0 50px 0 200px !important;
    left: -300px;
}

.am-password-handy .am-password-handy-security {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: box !important;
    padding: 0;
    background-color: #fff;
}

.am-password-handy .am-password-handy-security li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    margin-right: -1px;
    border-right: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
}

.am-password-handy .am-password-handy-security li:last-child {
    margin-right: 0;
    border-right: 0;
}

.am-password-handy .am-password-handy-security i {
    display: inline-block;
    width: 14px;
    overflow: hidden;
    line-height: 42px;
    font-style: normal;
    visibility: hidden;
}

.am-password-handy .am-password-handy-security i:empty {
    margin: 16px 2px 0;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-clip: padding-box;
    background-color: #000;
}

#password {
    position: absolute;
    width: 90%;
    margin-left: 6%;
    height: 44px;
    background: transparent;
    border: none;
    font-size: 1px;
    z-index: 100;
}

#show_passwd {
    position: absolute;
    width: 90%;
    margin-left: 6%;
    height: 44px;
    background: transparent;
    border: none;
    letter-spacing: 2.35rem;
    font-size: 1rem;
    z-index: 1;
}
