html, body, div, p, a, ul, li, span, p, input, h3, h5, h4, h6, dd, dt, dl, table, tr, td, th {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 12px;
}

body {
    font-size: 12px;
    line-height: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
    font-family: "微软雅黑";
}

img {
    border: none;
}

input, select, textarea, a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

i {
    font-style: normal;
}

.button {
    border-radius: 0;
}

select {
    background: none;
    border: none;
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont (2).eot'); /* IE9*/
    src: url('../fonts/iconfont (2).eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont (2).woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont (2).ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont (2).svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .9rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.ilb {
    display: inline-block;
}

/*最大宽度*/
.max-w150px {
    max-width: 150px;
}

/* 过长显示省略号 */
.ellipsis {
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-white-space: nowrap;
    -moz-white-space: nowrap;
    -ms-white-space: nowrap;
    -o-white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
}

.t50 {
    top: 50%;
}

.re-n {
    resize: none;
}

/*水平居中*/
.middle {
    vertical-align: middle
}

/*清浮动*/
.cl {
    clear: both;
}

/*隐藏*/
.of-h {
    overflow: hidden;
}

.of-y {
    overflow-y: hidden;
}

.of-x {
    overflow-x: auto;
}

/*层级*/
.z-in-9 {
    z-index: -999;
}

.z-in-1 {
    z-index: -1;
}

.z-in1 {
    z-index: 1;
}

.z-in9 {
    z-index: 999;
}

/*下划线*/
.td {
    text-decoration: underline;
}

/*w文字缩进*/
.t-id20 {
    text-indent: 20px;
}

.t-id35 {
    text-indent: 35px;
}

.t-id40 {
    text-indent: 40px;
}

.t-id50 {
    text-indent: 50px;
}

.t-id60 {
    text-indent: 60px;
}

/*文字居右*/
.rtl {
    direction: rtl;
}

/*透明度*/
.opacity {
    opacity: 0.3;
}

/*display*/
.db {
    display: block;
}

.display {
    display: none;
}

/*定位*/
.pre {
    position: relative;
}

.pab {
    position: absolute;
}

.pox {
    position: fixed;
}

.lf_px0 {
    left: 0;
}

.rt46 {
    right: 46%;
}

.rt_px0 {
    right: 0;
}

.rt_px16 {
    right: 16px;
}

.rt_px30 {
    right: 30px;
}

.rt_px40 {
    right: 40px;
}

.rt10 {
    right: 10%;
}

.tp0 {
    top: 0;
}

.t_px4 {
    top: 4px;
}

.tp_px10 {
    top: 10px;
}

.tp_px12 {
    top: 12px;
}

.tp_px15 {
    top: 15px;
}

.t30 {
    top: 30%
}

.tp75 {
    top: 75%;
}

.tp-px115 {
    top: 115px;
}

.tp-px150 {
    top: 150px;
}

.lf2 {
    left: 2%
}

.lf5 {
    left: 5%
}

.l7 {
    left: 7%
}

.l30 {
    left: 30%
}

.l50 {
    left: 50%
}

.tp_px0 {
    top: 0
}

.tp_px20 {
    top: 20px;
}

.tp_px30 {
    top: -30px;
}

.tp_px140 {
    top: 140px;
}

.bt0 {
    bottom: 0;
}

.bt5 {
    bottom: 5%;
}

.bt12 {
    bottom: 12%;
}

.bt14 {
    bottom: 14%;
}

.bt18 {
    bottom: 18%;
}

/*text-align*/
.tx-ct {
    text-align: center;
}

.tx-lt {
    text-align: left;
}

.tx-rt {
    text-align: right;
}

/*左右浮动*/
.fl {
    float: left;
}

.fr {
    float: right;
}

/*边框*/
.box-si {
    box-sizing: border-box;
}

.bd {
    border: none;
}

.border {
    border: 1px solid #ccc;
}

.border-ff453a {
    border: 1px solid #ff453a;
}

/*红色*/
.bt {
    border-top: 1px solid #ccc;
}

.bb {
    border-bottom: 1px solid #ccc;
}

.bor-bo-e6002d {
    border-bottom: 1px solid #e6002d;
}

.bor-bot-fff {
    border-bottom: 1px solid #7e7e7e;
}

.bb-dash {
    border-bottom: 1px dashed #ccc;
}

.bb-da {
    border-bottom: 1px dashed #ccc;
}

.bb-dashed {
    border-bottom: 2px dashed #999;
}

.br {
    border-right: 1px solid #ccc;
}

.bb-da0 {
    border-bottom: 1px dashed #000;
}

.bb-ff3b30 {
    border-bottom: 1px dashed #ff3b30;
}

.bor-ri {
    border-right: 1px solid #ccc;
}

/*圆角*/
.brr {
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
}

.br0 {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.br2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.br4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.br6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.br10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.br14 {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

.br18 {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.br24 {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}

.br28 {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

.br30 {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.br50 {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.br60 {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}

.br100 {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.bor-ra12 {
    -webkit-border-radius: 12%;
    -moz-border-radius: 12%;
    border-radius: 12%;
}

.bor-ra16 {
    -webkit-border-radius: 16%;
    -moz-border-radius: 16%;
    border-radius: 16%;
}

.radius {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*padding*/
.pd10 {
    padding: 10px;
}

/*padding-top*/
.pt_px-04 {
    padding-top: -4px;
}

.pt_px02 {
    padding-top: 2px;
}

.pt_px03 {
    padding-top: 3px;
}

.pt_px04 {
    padding-top: 4px;
}

.pt_px05 {
    padding-top: 5px;
}

.pt_px06 {
    padding-top: 6px;
}

.pt_px07 {
    padding-top: 7px;
}

.pt_px08 {
    padding-top: 8px;
}

.pt_px09 {
    padding-top: 9px;
}

.pt_px10 {
    padding-top: 10px;
}

.pt_px11 {
    padding-top: 11px;
}

.pt_px12 {
    padding-top: 12px;
}

.pt_px14 {
    padding-top: 14px;
}

.pt_px15 {
    padding-top: 15px;
}

.pt_px16 {
    padding-top: 16px;
}

.pt_px18 {
    padding-top: 18px;
}

.pt_px20 {
    padding-top: 20px;
}

.pt_px22 {
    padding-top: 22px;
}

.pt_px24 {
    padding-top: 24px;
}

.pt_px30 {
    padding-top: 30px;
}

.pt_px40 {
    padding-top: 40px;
}

.pt_px46 {
    padding-top: 46px;
}

.pt_px47 {
    padding-top: 47px;
}

.pt_px48 {
    padding-top: 48px;
}

.pt_px50 {
    padding-top: 50px;
}

.pt_px80 {
    padding-top: 80px;
}

.pt_px100 {
    padding-top: 100px;
}

.pt_px128 {
    padding-top: 128px;
}

.pt_px138 {
    padding-top: 138px;
}

.pt0 {
    padding-top: 0;
}

.pt1 {
    padding-top: 1%
}

.pt2 {
    padding-top: 2%
}

.pt3 {
    padding-top: 3%
}

.pt4 {
    padding-top: 4%
}

.pt5 {
    padding-top: 5%
}

.pt6 {
    padding-top: 6%
}

.pt7 {
    padding-top: 7%
}

.pt8 {
    padding-top: 8%
}

.pt9 {
    padding-top: 9%
}

.pt10 {
    padding-top: 10%
}

.pt12 {
    padding-top: 12%
}

.pt13 {
    padding-top: 13%
}

.pt14 {
    padding-top: 14%
}

.pt15 {
    padding-top: 15%
}

.pt16 {
    padding-top: 16%
}

.pt17 {
    padding-top: 17%
}

.pt18 {
    padding-top: 18%
}

.pt20 {
    padding-top: 20%
}

.pt21 {
    padding-top: 21%
}

.pt22 {
    padding-top: 22%
}

.pt24 {
    padding-top: 24%
}

.pt25 {
    padding-top: 25%
}

.pt26 {
    padding-top: 26%
}

.pt27 {
    padding-top: 27%
}

.pt28 {
    padding-top: 28%
}

.pt29 {
    padding-top: 29%
}

.pt30 {
    padding-top: 30%
}

.pt32 {
    padding-top: 32%
}

.pt34 {
    padding-top: 34%
}

.pt43 {
    padding-top: 43%;
}

.pt50 {
    padding-top: 50%;
}

/*padding-left*/
.pl03 {
    padding-left: 3%;
}

.pl4 {
    padding-left: 4%;
}

.pl5 {
    padding-left: 5%;
}

.pl6 {
    padding-left: 6%;
}

.pl10 {
    padding-left: 10%;
}

.pl14 {
    padding-left: 14%;
}

.pl20 {
    padding-left: 20%;
}

.pl30 {
    padding-left: 30%;
}

.pl_px04 {
    padding-left: 4px;
}

.pl_px05 {
    padding-left: 5px;
}

.pl_px06 {
    padding-left: 6px;
}

.pl_px08 {
    padding-left: 8px;
}

.pl_px10 {
    padding-left: 10px;
}

.pl_px15 {
    padding-left: 15px;
}

.pl_px20 {
    padding-left: 20px;
}

.pl_px30 {
    padding-left: 30px;
}

.pl_px40 {
    padding-left: 40px;
}

.pl_px50 {
    padding-left: 50px;
}

.pl_px100 {
    padding-left: 100px;
}

/*padding-right*/
.pr2 {
    padding-right: 2%;
}

.pr03 {
    padding-right: 3%;
}

.pr4 {
    padding-right: 4%;
}

.pr5 {
    padding-right: 5%;
}

.pr10 {
    padding-right: 10%;
}

.pr14 {
    padding-right: 14%;
}

.pr_px04 {
    padding-right: 4px;
}

.pr_px5 {
    padding-right: 5px;
}

.pr_px10 {
    padding-right: 10px;
}

.pr_px16 {
    padding-right: 16px;
}

.pr_px20 {
    padding-right: 20px;
}

.pr_px30 {
    padding-right: 30px;
}

.pr_px40 {
    padding-right: 40px;
}

.pr_px50 {
    padding-right: 50px;
}

.pr_px14 {
    padding-right: 14px;
}

/*padding-bottom*/
.pb0 {
    padding-bottom: 0 !important;
}

.pb1 {
    padding-bottom: 1%;
}

.pb2 {
    padding-bottom: 2%;
}

.pb3 {
    padding-bottom: 3%;
}

.pb4 {
    padding-bottom: 4%;
}

.pb5 {
    padding-bottom: 5%;
}

.pb10 {
    padding-bottom: 10% !important;
}

.pb_px02 {
    padding-bottom: 2px;
}

.pb_px03 {
    padding-bottom: 3px;
}

.pb_px04 {
    padding-bottom: 4px;
}

.pb_px08 {
    padding-bottom: 8px;
}

.pb_px10 {
    padding-bottom: 10px;
}

.pb_px12 {
    padding-bottom: 12px;
}

.pb_px13 {
    padding-bottom: 13px;
}

.pb_px14 {
    padding-bottom: 14px;
}

.pb_px15 {
    padding-bottom: 15px;
}

.pb_px20 {
    padding-bottom: 20px;
}

.pb_px24 {
    padding-bottom: 24px;
}

.pb_px30 {
    padding-bottom: 30px;
}

.pb_px50 {
    padding-bottom: 50px;
}

/*margin-top*/
.margin {
    margin: 0 auto;
}

.mt1 {
    margin-top: 1%;
}

.mt2 {
    margin-top: 2%;
}

.mt3 {
    margin-top: 3%;
}

.mt4 {
    margin-top: 4%;
}

.mt4_5 {
    margin-top: 4.5%;
}

.mt5 {
    margin-top: 5%;
}

.mt6 {
    margin-top: 6%;
}

.mt7 {
    margin-top: 7%;
}

.mt8 {
    margin-top: 8%;
}

.mt10 {
    margin-top: 10%;
}

.mt13 {
    margin-top: 13%;
}

.mt14 {
    margin-top: 14%;
}

.mt29 {
    margin-top: 29%;
}

.mt28 {
    margin-top: 28%;
}

.mt30 {
    margin-top: 30%;
}

.mt40 {
    margin-top: 40%;
}

.mt44 {
    margin-top: 44%;
}

.mt45 {
    margin-top: 45%;
}

.mt49 {
    margin-top: 49%;
}

.mt50 {
    margin-top: 50%;
}

.mt55 {
    margin-top: 55%;
}

.mt_px-20 {
    margin-top: -20px;
}

.mt_px-15 {
    margin-top: -15px;
}

.mt_px-10 {
    margin-top: -10px;
}

.mt_px-08 {
    margin-top: -8px;
}

.mt_px-07 {
    margin-top: -7px;
}

.mt_px-06 {
    margin-top: -6px;
}

.mt_px-05 {
    margin-top: -5px;
}

.mt_px-04 {
    margin-top: -4px;
}

.mt_px-02 {
    margin-top: -2px;
}

.mt_px-01 {
    margin-top: -1px;
}

.mt_px09 {
    margin-top: 9px;
}

.mt_px01 {
    margin-top: 1px;
}

.mt_px02 {
    margin-top: 2px;
}

.mt_px04 {
    margin-top: 4px;
}

.mt_px05 {
    margin-top: 5px;
}

.mt_px06 {
    margin-top: 6px;
}

.mt_px07 {
    margin-top: 7px;
}

.mt_px08 {
    margin-top: 8px;
}

.mt_px10 {
    margin-top: 10px;
}

.mt_px12 {
    margin-top: 12px;
}

.mt_px14 {
    margin-top: 14px;
}

.mt_px17 {
    margin-top: 17px;
}

.mt_px20 {
    margin-top: 20px;
}

.mt_px22 {
    margin-top: 22px;
}

.mt_px29 {
    margin-top: 29px;
}

.mt_px30 {
    margin-top: 30px;
}

.mt_px64 {
    margin-top: 64px;
}

.mt_px70 {
    margin-top: 70px;
}

.mt_px80 {
    margin-top: 80px;
}

.mt_px100 {
    margin-top: 100px;
}

.mt-rem-01 {
    margin-top: -0.1rem;
}

.mt-rem01 {
    margin-top: 0.1rem;
}

/*margin-left*/
.ml-18 {
    margin-left: -18%;
}

.ml-13 {
    margin-left: -13%;
}

.ml-11 {
    margin-left: -11%;
}

.ml-8 {
    margin-left: -8%;
}

.ml_px-60 {
    margin-left: -60px;
}

.ml_px-50 {
    margin-left: -50px;
}

.ml_px-30 {
    margin-left: -30px;
}

.ml1 {
    margin-left: 1%;
}

.ml2 {
    margin-left: 2%;
}

.ml3 {
    margin-left: 3%;
}

.ml4 {
    margin-left: 4%;
}

.ml5 {
    margin-left: 5%;
}

.ml6 {
    margin-left: 6%;
}

.ml8 {
    margin-left: 8%;
}

.ml10 {
    margin-left: 10%;
}

.ml12 {
    margin-left: 12%;
}

.ml18 {
    margin-left: 18%;
}

.ml20 {
    margin-left: 20%;
}

.ml21 {
    margin-left: 21%;
}

.ml29 {
    margin-left: 29%;
}

.ml30 {
    margin-left: 30%;
}

.ml35 {
    margin-left: 35%;
}

.ml40 {
    margin-left: 40%;
}

.ml42 {
    margin-left: 42%;
}

.ml43 {
    margin-left: 43%;
}

.ml50 {
    margin-left: 50%;
}

.ml56 {
    margin-left: 56%;
}

.ml_px04 {
    margin-left: 4px;
}

.ml_px10 {
    margin-left: 10px;
}

.ml_px14 {
    margin-left: 14px;
}

.ml_px16 {
    margin-left: 16px;
}

.ml_px20 {
    margin-left: 20px;
}

.ml_px30 {
    margin-left: 30px;
}

.ml_px36 {
    margin-left: 36px;
}

.ml_px44 {
    margin-left: 44px;
}

.ml_px60 {
    margin-left: 60px;
}

.ml_px64 {
    margin-left: 64px;
}

.ml_px70 {
    margin-left: 70px;
}

.ml_px80 {
    margin-left: 80px;
}

.ml_px100 {
    margin-left: 100px;
}

/*margin-right*/
.mr_px04 {
    margin-right: 4px;
}

.mr_px06 {
    margin-right: 6px;
}

.mr_px08 {
    margin-right: 8px;
}

.mr_px10 {
    margin-right: 10px;
}

.mr_px17 {
    margin-right: 17px;
}

.mr_px20 {
    margin-right: 20px;
}

.mr_px40 {
    margin-right: 40px;
}

.mr_px64 {
    margin-right: 64px;
}

.mr4 {
    margin-right: 4%;
}

.mr3 {
    margin-right: 3%;
}

.mr2 {
    margin-right: 2%;
}

.mr10 {
    margin-right: 10%;
}

/*margin-bottom*/
.mb2 {
    margin-bottom: 2%;
}

.mb3 {
    margin-bottom: 3%;
}

.mb4 {
    margin-bottom: 4%;
}

.mb5 {
    margin-bottom: 5%;
}

.mb8 {
    margin-bottom: 8%;
}

.mb_px-10 {
    margin-bottom: -10px;
}

.mb_px05 {
    margin-bottom: 5px;
}

.mb_px10 {
    margin-bottom: 10px;
}

.mb_px12 {
    margin-bottom: 12px;
}

.mb_px14 {
    margin-bottom: 14px;
}

.mb_px20 {
    margin-bottom: 20px;
}

.mb_px30 {
    margin-bottom: 30px;
}

.mb_px40 {
    margin-bottom: 40px;
}

.mb_px100 {
    margin-bottom: 100px;
}

/*颜色*/
.c-000 {
    color: #000;
}

.c-fff {
    color: #fff;
}

.c-fff000 {
    color: #fff000;
}

.c-c6 {
    color: #c6c6c6
}

.c-78 {
    color: #787878;
}

.c-42c6da {
    color: #42c6da;
}

.c-00bdd5 {
    color: #00bdd5;
}

.c-919191 {
    color: #919191;
}

.c-db {
    color: #dbdbdb;
}

.c-9e {
    color: #9e9e9e
}

.c-999a9d {
    color: #999a9d;
}

.c-8b8b8c {
    color: #8b8b8c;
}

.c-7a7a85 {
    color: #7a7a85;
}

.c-7a7c80 {
    color: #7a7c80;
}

.c-32c2ba {
    color: #32c2ba;
}

.c-9e9e9e {
    color: #9e9e9e;
}

.c-ada8 {
    color: #aaada8;
}

.c-ff0000 {
    color: #ff0000;
}

.c-ff0300 {
    color: #ff0300;
}

.c-ff740f {
    color: #ff740f;
}

.c-ff453a {
    color: #ff453a;
}

.c-e6002d {
    color: #e6002d;
}

.c-f6f6f6 {
    color: #f6f6f6;
}

.c-ff3b30 {
    color: #e6002d;
}

.c-747474 {
    color: #747474;
}

.c-2b2b2b {
    color: #2b2b2b;
}

.c-98 {
    color: #989898;
}

.c-d1d1ca {
    color: #d1d1ca;
}

.c-ff3b30 {
    color: #ff3b30;
}

.c-e9e9e9 {
    color: #e9e9e9;
}

.c-00b4ff {
    color: #00b4ff;
}

.c-818da2 {
    color: #818da2;
}

.c-95979a {
    color: #95979a;
}

.c-d2d2d2 {
    color: #d2d2d2;
}

.c-3997ff {
    color: #3997ff !important;
}

.c-6c6c6c {
    color: #6c6c6c;
}

.c-808080 {
    color: #808080;
}

.c-c9c9c9 {
    color: #c9c9c9;
}

.c-af {
    color: #afafaf;
}

.c-a0a0a0 {
    color: #a0a0a0;
}

.c-9d9ea5 {
    color: #9d9ea5;
}

.c-d8d8d8 {
    color: #d8d8d8;
}

.c-ccc {
    color: #cccccc;
}

.c-4d {
    color: #4d4d4d;
}

.c-ab {
    color: #ababab;
}

.c-cb {
    color: #cbcbcb;
}

.c-30 {
    color: #303030;
}

.c-777 {
    color: #777777;
}

.c-6ba3ff {
    color: #6ba3ff;
}

.c-98 {
    color: #989898;
}

.c-b0 {
    color: #b0b0b0;
}

/*背景色*/
.bg-none {
    background: none;
}

.bg-s {
    background-size: 100%;
}

.bg-373636 {
    background: #373636;
}

.bg-fff {
    background: #fff;
}

.bg-f4f8fa {
    background: #f4f8fa;
}

.bg-00bcd4 {
    background: #00bcd4;
}

.bg-32c2ba {
    background: #32c2ba;
}

.bg-ef {
    background: #efefef;
}

.bg-e6 {
    background: #e6e6e6 !important;
}

.bg-ff740f {
    background-color: #ff740f;
}

.bg-f44336 {
    background: #f44336;
}

.bg-ef {
    background: #efefef;
}

.bg-f0fee1 {
    background: #f0fee1;
}

.bg-e8f5ff {
    background: #e8f5ff;
}

.bg-fde {
    background: #fdefff;
}

.bg-009688 {
    background-color: #009688;
}

.bg-1c1c20 {
    background: #1c1c20;
}

.bg-dc4945 {
    background: #dc4945;
}

.bg-f6f6f6 {
    background: #f6f6f6;
}

.bg-ff453a {
    background: #ff453a;
}

.bg-ff3b30 {
    background: #e6002d;
}

.bg-fde {
    background: #fffdde
}


.bg-db {
    background: #dbdad6;
}

.bg-fb {
    background: #fbfbfb;
}

.bg-da4945 {
    background: #da4945;
}

.bg-298fff {
    background: #298fff;
}

.bg-23 {
    background: #232323;
}

/*宽度*/
.w1 {
    width: 1%;
}

.w2 {
    width: 2%;
}

.w4 {
    width: 4%;
}

.w5 {
    width: 5%;
}

.w6 {
    width: 6%;
}

.w7 {
    width: 7%;
}

.w8 {
    width: 8%;
}

.w10 {
    width: 10%;
}

.w12 {
    width: 12%;
}

.w14 {
    width: 14%;
}

.w16 {
    width: 16%;
}

.w19 {
    width: 19%;
}

.w20 {
    width: 20%;
}

.w21 {
    width: 21%;
}

.w22 {
    width: 22%;
}

.w24 {
    width: 24%;
}

.w28 {
    width: 28%;
}

.w30 {
    width: 30%;
}

.w33 {
    width: 33%;
}

.w34 {
    width: 34%;
}

.w38 {
    width: 38%;
}

.w40 {
    width: 40%;
}

.w44 {
    width: 44%;
}

.w46 {
    width: 46%;
}

.w48 {
    width: 48%;
}

.w49 {
    width: 49%;
}

.w50 {
    width: 50%;
}

.w54 {
    width: 54%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w64 {
    width: 64%;
}

.w66 {
    width: 66%;
}

.w68 {
    width: 68%;
}

.w70 {
    width: 70%;
}

.w72 {
    width: 72%;
}

.w74 {
    width: 74%;
}

.w76 {
    width: 76%;
}

.w78 {
    width: 78%;
}

.w80 {
    width: 80%;
}

.w82 {
    width: 82%;
}

.w83 {
    width: 83%;
}

.w84 {
    width: 84%;
}

.w85 {
    width: 85%;
}

.w86 {
    width: 86%;
}

.w88 {
    width: 88%;
}

.w90 {
    width: 90%;
}

.w92 {
    width: 92%;
}

.w96 {
    width: 96%;
}

.w98 {
    width: 98%;
}

.w100 {
    width: 100%;
}

.w_px10 {
    width: 10px;
}

.w_px12 {
    width: 12px;
}

.w_px14 {
    width: 14px;
}

.w_px18 {
    width: 18px;
}

.w_px20 {
    width: 20px;
}

.w_px24 {
    width: 24px;
}

.w_px28 {
    width: 28px;
}

.w_px30 {
    width: 30px;
}

.w_px40 {
    width: 40px;
}

.w_px48 {
    width: 48px;
}

.w_px50 {
    width: 50px;
}

.w_px60 {
    width: 60px;
}

.w_px70 {
    width: 70px;
}

.w_px80 {
    width: 80px;
}

.w_px100 {
    width: 100px;
}

.w_px102 {
    width: 102px;
}

.w_px120 {
    width: 120px;
}

.w_px122 {
    width: 122px;
}

.w_px124 {
    width: 124px;
}

.w_px150 {
    width: 150px;
}

.w_px152 {
    width: 152px;
}

.w_px154 {
    width: 154px;
}

.w_px156 {
    width: 156px;
}

.w_px182 {
    width: 182px;
}

.w_px184 {
    width: 184px;
}

.w_px240 {
    width: 240px;
}

.w_px540 {
    width: 540px;
}

.w_px640 {
    width: 640px;
}

.w_px800 {
    width: 800px;
}

.w_px2000 {
    width: 2000px;
}

/*高度*/
.h-auto {
    height: auto;
}

.h10 {
    height: 10%;
}

.h12 {
    height: 12%;
}

.h15 {
    height: 15%;
}

.h16 {
    height: 16%;
}

.h18 {
    height: 18%;
}

.h30 {
    height: 30%;
}

.h40 {
    height: 40%;
}

.h98 {
    height: 98%;
}

.h100 {
    height: 100%;
}

.h_px12 {
    height: 12px;
}

.h_px14 {
    height: 14px;
}

.h_px18 {
    height: 18px;
}

.h_px20 {
    height: 20px;
}

.h_px24 {
    height: 24px;
}

.h_px28 {
    height: 28px;
}

.h_px30 {
    height: 30px;
}

.h_px36 {
    height: 36px;
}

.h_px38 {
    height: 38px;
}

.h_px40 {
    height: 40px;
}

.h_px44 {
    height: 44px;
}

.h_px45 {
    height: 45px;
}

.h_px46 {
    height: 46px;
}

.h_px50 {
    height: 50px;
}

.h_px60 {
    height: 60px;
}

.h_px64 {
    height: 64px;
}

.h_px70 {
    height: 70px;
}

.h_px80 {
    height: 80px;
}

.h_px88 {
    height: 88px;
}

.h_px94 {
    height: 94px;
}

.h_px100 {
    height: 100px;
}

.h_px110 {
    height: 110px;
}

.h_px136 {
    height: 136px;
}

.h_px132 {
    height: 132px;
}

.h_px140 {
    height: 140px;
}

.h_px150 {
    height: 150px;
}

.h_px180 {
    height: 180px;
}

.h_px190 {
    height: 190px;
}

.h_px220 {
    height: 220px;
}

.h_px310 {
    height: 310px;
}

/*行高*/
.lh30 {
    line-height: 30%;
}

.lh_px14 {
    line-height: 14px;
}

.lh_px15 {
    line-height: 15px;
}

.lh_px16 {
    line-height: 16px;
}

.lh_px18 {
    line-height: 18px;
}

.lh_px20 {
    line-height: 20px;
}

.lh_px24 {
    line-height: 24px;
    line-height: 24px \9
}

.lh_px30 {
    line-height: 30px;
}

.lh_px32 {
    line-height: 32px;
}

.lh_px34 {
    line-height: 34px;
}

.lh_px36 {
    line-height: 36px;
    line-height: 1.5rem
}

.lh_px38 {
    line-height: 38px;
}

.lh_px40 {
    line-height: 40px;
}

.lh_px44 {
    line-height: 44px;
}

.lh_px46 {
    line-height: 46px;
}

.lh_px50 {
    line-height: 50px;
}

.lh_px60 {
    line-height: 60px;
}

.lh_px64 {
    line-height: 64px;
}

.lh_px70 {
    line-height: 70px;
}

.lh_px80 {
    line-height: 80px;
}

.lh_px100 {
    line-height: 100px;
}

.lh100 {
    line-height: 100%;
}

/*字体加粗*/
.fw-b {
    font-weight: bold;
}

.fw-n {
    font-weight: normal;
}

.fs-n {
    font-style: normal;
}

/*字体*/
.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs0-3 {
    font-size: .3rem;
}

.fs0-5 {
    font-size: .5rem;
}

.fs0-6 {
    font-size: .6rem;
}

.fs0-7 {
    font-size: .7rem;
}

.fs0-8 {
    font-size: .8rem;
}

.fs0-75 {
    font-size: .75rem;
}

.fs0-9 {
    font-size: .9rem;
}

.fs0-95 {
    font-size: .95rem;
}

.fs1-2 {
    font-size: 1.2rem;
}

.fs1-3 {
    font-size: 1.3rem;
}

.fs1-4 {
    font-size: 1.4rem;
}

.fs1-5 {
    font-size: 1.5rem;
}

.fs1 {
    font-size: 1rem;
}

.fs2 {
    font-size: 2rem;
}

.fs2-5 {
    font-size: 2.5rem;
}

.fs3 {
    font-size: 3rem;
}

.fs4 {
    font-size: 4rem;
}

@media screen and (max-width: 320px) {
    .s_pt_px10 {
        padding-top: 6px;
    }

    .s-pt2 {
        padding-top: 3%;
    }

    .s-pt_px08 {
        padding-top: 5px;
    }

    .s-pt_px14 {
        padding-top: 10px;
    }

    .i-mt_px10 {
        margin-top: 10px;
    }

    .s-tp-px15 {
        padding-top: 1px;
    }
}

@media screen and (min-width: 360px) {
    .sp-pt28 {
        padding-top: 26%;
    }

    .p-pt25 {
        padding-top: 24%;
    }

    .p-pt43 {
        padding-top: 40%;
    }

    .pt13 {
        padding-top: 10%;
    }

    .p-pt13 {
        padding-top: 14%;
    }

    .s_mt_px-04 {
        margin-top: -6px;
    }

    .s_pt12 {
        padding-top: 11%;
    }

    .s_pt13 {
        padding-top: 12%;
    }

    .s-pt2 {
        padding-top: 3%;
    }

    .s-pt17 {
        padding-top: 13%;
    }

    .s-pt-px03 {
        padding-top: 4px;
    }

    .s-pt-px08 {
        padding-top: 6px;
    }

    .s-pt_px08 {
        padding-top: 4px;
    }

    .i-mt_px10 {
        margin-top: 5px;
    }

    .mt_px01 {
        margin-top: -2px;
    }

    .s-tp-px15 {
        padding-top: 3px;
    }

}

@media screen and (min-width: 375px) {
    .p-pt28 {
        padding-top: 26%;
    }

    .s_pt12 {
        padding-top: 11%;
    }

    .p-pt25 {
        padding-top: 24%;
    }

    .s_pt13 {
        padding-top: 11%;
    }

    .s-pt17 {
        padding-top: 12%;
    }

    .s-pt-px03 {
        padding-top: 5px;
    }

    .i-mt_px10 {
        margin-top: 5px;
    }
}

@media screen and (min-width: 411px) {
    .s_pt_px10 {
        padding-top: 10px;
    }

    .s_mt_px-04 {
        margin-top: -7px;
    }

    .s_pt12 {
        padding-top: 10%;
    }

    .s_pt13 {
        padding-top: 10%;
    }

    .s-pt2 {
        padding-top: 2%;
    }

    .s-pt-px04 {
        padding-top: 7px;
    }

    .i-mt_px10 {
        margin-top: 0px;
    }
}

@media screen and (min-width: 414px) {
    .sp-pt28 {
        padding-top: 24%;
    }

    .p-pt25 {
        padding-top: 22%;
    }

    .p-pt43 {
        padding-top: 38%;
    }

    .p_pt_px10 {
        padding-top: 14px;
    }

    .p_pt_px20 {
        padding-top: 16px;
    }

    .s_pt_px10 {
        padding-top: 10px;
    }

    .p-mt_px07 {
        margin-top: -7px;
    }

    .s_pt12 {
        padding-top: 10%;
    }

    .s_pt13 {
        padding-top: 10%;
    }

    .s_pt_px06 {
        padding-top: 2px;
    }

    .s-pt2 {
        padding-top: 2%;
    }

    .s-pt-px03 {
        padding-top: 5px;
    }

    .s-tp-px15 {
        padding-top: 3px;
    }
}

@media screen and (min-width: 435px) {
    .p-pt28 {
        padding-top: 26%;
    }

    .pp-pt26 {
        padding-top: 23%;
    }

    .sp-pt28 {
        padding-top: 23%;
    }

    .p_pt_px10 {
        padding-top: 18px;
    }

    .s_mt_px-04 {
        margin-top: -9px;
    }

    .s-pt2 {
        padding-top: 2%;
    }

    .s-pt-px03 {
        padding-top: 7px;
    }

    .s-pt_px08 {
        padding-top: 9px;
    }

    .i-mt_px10 {
        margin-top: 0px;
    }

    .s-tp-px15 {
        padding-top: 1px;
    }
}

/*@media screen and (min-width: 720px) {*/
/*.w_px100 {*/
/*width: 150px;*/
/*}*/

/*.w_px124 {*/
/*width: 164px;*/
/*}*/

/*.h_px100 {*/
/*height: 150px;*/
/*}*/

/*.s-pt-px24 {*/
/*padding-top: 24px;*/
/*}*/

/*.h_px30 {*/
/*height: 60px;*/
/*}*/

/*.w_px30 {*/
/*width: 60px;*/
/*}*/

/*.br100 {*/
/*-webkit-border-radius: 150px;*/
/*-moz-border-radius: 150px;*/
/*border-radius: 150px;*/
/*}*/

/*.lh_px100 {*/
/*line-height: 150px;*/
/*}*/

/*.h_px80 {*/
/*height: 120px;*/
/*}*/

/*.lh_px80 {*/
/*line-height: 120px;*/
/*}*/

/*.s-h_px70 {*/
/*height: 110px;*/
/*line-height: 110px;*/
/*}*/

/*.p_h_px70 {*/
/*height: 120px;*/
/*}*/

/*.p_lh_px70 {*/
/*line-height: 120px;*/
/*}*/

/*.wa {*/
/*width: 100%;*/
/*}*/

/*.pta {*/
/*padding-top: 24%;*/
/*}*/

/*.pt_px02 {*/
/*padding-top: 7px;*/
/*}*/

/*.mt_px05 {*/
/*margin-top: 30px;*/
/*}*/

/*.w_px40 {*/
/*width: 80px;*/
/*}*/

/*.h_px40 {*/
/*height: 80px;*/
/*}*/

/*.lh_px40 {*/
/*line-height: 80px;*/
/*}*/

/*.w_px50 {*/
/*width: 100px;*/
/*}*/

/*.h_px50 {*/
/*height: 100px;*/
/*}*/

/*.lh_px50 {*/
/*line-height: 100px;*/
/*}*/

/*.p-w60 {*/
/*width: 50%;*/
/*}*/

/*.p-w33 {*/
/*width: 33%;*/
/*}*/

/*.p-pt_px10 {*/
/*padding-top: 60px;*/
/*}*/

/*.p-h_px70 {*/
/*height: 140px;*/
/*}*/

/*.p-h_px80 {*/
/*height: 160px;*/
/*}*/

/*.p-lh_px70 {*/
/*line-height: 140px;*/
/*}*/

/*.p-lh_px80 {*/
/*line-height: 160px;*/
/*}*/

/*.mt_px-10 {*/
/*margin-top: -5px;*/
/*}*/

/*.pb1 {*/
/*padding-bottom: 1%;*/
/*}*/

/*.lh_px18 {*/
/*line-height: 30px;*/
/*}*/

/*.h_px18 {*/
/*height: 30px;*/
/*}*/

/*.w_px18 {*/
/*width: 30px;*/
/*}*/

/*.br18 {*/
/*-webkit-border-radius: 30px;*/
/*-moz-border-radius: 30px;*/
/*border-radius: 30px;*/
/*}*/

/*.p-mt_px-10 {*/
/*margin-top: -35px;*/
/*}*/

/*.p-pb_px10 {*/
/*padding-bottom: 50px;*/
/*}*/

/*.pt14 {*/
/*padding-top: 12%;*/
/*}*/

/*.pt17 {*/
/*padding-top: 12%;*/
/*}*/

/*.pt13 {*/
/*padding-top: 8%;*/
/*}*/

/*.p-pt14 {*/
/*padding-top: 11%;*/
/*}*/

/*.p-h_px50 {*/
/*height: 50px;*/
/*width: 50px;*/
/*}*/

/*.p-mt_px14 {*/
/*margin-top: 30px;*/
/*}*/

/*.h_px45 {*/
/*height: 88px;*/
/*}*/

/*.ph_px80 {*/
/*height: 160px;*/
/*line-height: 160px;*/
/*}*/

/*.p_mt_px04 {*/
/*margin-top: 8px;*/
/*}*/

/*.p_mt_px10 {*/
/*margin-top: 25px;*/
/*}*/

/*.p_pt_px10 {*/
/*margin-top: 12px;*/
/*}*/

/*.p_h_px100 {*/
/*height: 150px;*/
/*}*/

/*.p_h_px14 {*/
/*height: 38px;*/
/*}*/

/*.p_w_px14 {*/
/*width: 27px;*/
/*}*/

/*.s_pt_px10 {*/
/*padding-top: 18px;*/
/*}*/

/*.p-mt_px07 {*/
/*margin-top: 0px;*/
/*}*/

/*.s_pt12 {*/
/*padding-top: 8%;*/
/*}*/

/*.s_pt13 {*/
/*padding-top: 11%;*/
/*}*/

/*.s_pt_px14 {*/
/*padding-top: 30px;*/
/*}*/

/*!*.spt_px04 {*!*/
/*!*padding-top: 14px;*!*/
/*!*}*!*/

/*.s_pt_px06 {*/
/*padding-top: 20px;*/
/*}*/

/*.s-pt_px42 {*/
/*padding-top: 42px;*/
/*}*/

/*.s-pt2 {*/
/*padding-top: 2%;*/
/*}*/

/*.s-pt-px16 {*/
/*padding-top: 32px;*/
/*}*/

/*.s-pt17 {*/
/*padding-top: 10%;*/
/*}*/

/*.s-tp-px115 {*/
/*top: 85px;*/
/*}*/

/*.s-pt-px08 {*/
/*padding-top: 30px;*/
/*}*/

/*.s-pt-px03 {*/
/*padding-top: 19px;*/
/*}*/

/*.s-pt_px08 {*/
/*padding-top: 20px;*/
/*}*/

/*.s-pt-px24 {*/
/*padding-top: 24px;*/
/*}*/

/*.s-h_px60 {*/
/*height: 100px;*/
/*}*/

/*.s-pt_px14 {*/
/*padding-top: 20px;*/
/*}*/

/*.i-mt_px10 {*/
/*margin-top: 10px;*/
/*}*/
/*}*/


