@charset "utf-8";
@media screen and (width:320px) {
	body {font-size:14.5454px!important}
}
@media screen and (width:360px) {
	body {font-size:16.3636px!important}
}
@media screen {
	*{margin:0;padding:0;font-family:"Microsoft YaHei","Georgia Pro","Times New Roman",Helvitica,Verdana,Arial,san-serif;-webkit-tap-highlight-color:transparent;overflow:hidden}
	html {overflow-y:auto}
	body {background-color:#f4f4f4;font-size:13pt;position:relative}
}

/* page_guide_slider */
.page_guide_slider {
	width:100%;
	overflow:auto
}
.page_guide_balloon {
	width:100%;
	overflow:hidden
}
.page_guide_title {
	width:96%;
	margin:0 2%;
	height:2.5em;
	font-weight:bold;
	color:white;
	position:relative
}
.page_guide_title_text {
	height:1.4em;
	position:absolute;
	bottom:0;
	background-color:#616161;
	padding:.3em 1.8em .3em .6em;
	max-width:7em;
	white-space:nowrap;
	text-overflow:ellipsis;
	border-radius:.3em;
	background-image:url(../images/voice.png);
	background-repeat:no-repeat;
	background-size:auto 300%;
	background-position:95% 110%;
	cursor:pointer
}
.page_guide_title_text.canplay {
	background-position:95% -10%
}
.page_guide_title_text.playing {
	background-position:95% 50%
}
.page_guide_pointer {
	width:93%;
	margin:0 3.5%;
	height:.5em;
	position:relative
}
.page_guide_pointer>div {
	position:absolute;
	top:0;
	width:0;
	height:0;
	border-top:.4em solid #616161;
	border-left:.4em solid transparent;
	border-right:.4em solid transparent
}
.page_guide_bar {
	position:relative;
	overflow:visible;
	height:.4em
}
.page_guide_progress {
	position:absolute;
	left:0;
	overflow:visible;
	width:192%;
	margin:0 4%;
	background-color:#afced3;
	border-radius:.3em;
	border:1px solid #a7a7a7
}
.page_guide_progress>div {
	float:left;
	height:.2em;
	box-sizing:border-box
}
.page_guide_container {
	width:100%;
	cursor:e-resize
}
.page_guide_container img {
	height:10em;
	min-width:5em;
	width:auto;
	overflow:hidden;
	margin:0 .3em;
	padding:0;
	border-left:1px solid transparent;
	float:left;
	background-image:url(../images/loading.jpg);
	background-repeat:no-repeat;
	background-size:50% auto;
	background-position:center center
}
.page_guide_items {
	width:500%;
	height:11.6em
}
.page_guide_item {
	margin:.5em;
	padding:.3em;
	background-color:white;
	float:left;
	border:1px solid #dedede;
	border-radius:.5em
}
.page_guide_item_text {
	width:14em;
	padding:1em;
	float:left
}
.page_guide_item_title {
	height:1.3em;
	color:red;
	padding:.5em 0;
	border-bottom:1px solid #dedede;
	max-width:100%;
	white-space:nowrap;
	text-overflow:ellipsis
}
.page_guide_item_intr {
	font-size:.8em;
	line-height:1.5em;
	margin:.5em 0;
	height:6em
}
.page_guide_item_image {
	float:left
}